{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Формирование заявки</title>
    <link rel="stylesheet" href="{% static 'css/styles_request.css' %}">
</head>

<body class="background">

    <!-- Кнопка на главную страницу -->
    <div class="home-btn-container">
        <a href="{% url 'home' %}" class="home-btn">На главную</a>
    </div>

    <!-- Заголовок -->
    <h1 class="request-title">Заявка №{{ request_id }}</h1>

    <!-- Блок выбора марсохода, статуса и кнопок -->
    <form method="POST" action="{% url 'save_request' %}">
        {% csrf_token %}
        <div class="request-controls">
            <div class="select-group">
                <div class="select-container">
                    <label for="rover" class="form-label">Марсоход:</label>
                    <select name="rover" id="rover" class="dropdown">
                        {% for rover in rovers %}
                            <option value="{{ rover.id }}" {% if rover.id == request_data.rover.id %}selected{% endif %}>
                                {{ rover.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="select-container">
                    <label for="status" class="form-label">Статус:</label>
                    <select name="status" id="status" class="dropdown">
                        {% for status, label in statuses %}
                            <option value="{{ status }}" {% if request_data.status == status %}selected{% endif %}>{{ label }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <!-- Кнопка сохранить заявку -->
            <div class="button-group">
                <button type="submit" class="orange-button">Сохранить заявку</button>
            </div>
        </div>
    </form>

    <!-- Кнопка удаления заявки -->
    <form method="POST" action="{% url 'delete_request' request_id=request_data.id %}">
        {% csrf_token %}
        <div class="request-controls">
            <div class="button-group">
                <button type="submit" class="orange-button" style="margin-top: 10px;">Удалить заявку</button>
            </div>
        </div>
    </form>

    <!-- Карточки услуг -->
    <div class="card-container">
        {% for item in items %}
            <div class="card">
                <img src="{{ item.service.image_url }}" alt="{{ item.service.name }}" class="service-image">
                <div class="service-info">
                    <h3 class="service-title">{{ item.service.name }}</h3>
                </div>
                <a href="{% url 'remove_from_cart' item.id %}" class="bin-btn">
                    <img src="http://localhost:9000/images/bin.jpg" alt="Удалить" class="bin-image">
                </a>
            </div>
        {% endfor %}
    </div>

</body>
</html>
